<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="camera" value="mightex" />
    <add key="cameraBitDepth" value="12" />
    <add key="cameraExposureTime" value="1000" />
    <add key="cameraWidth" value="4096" />
    <add key="ipAddress" value="" />
    <add key="twinCat" value="false" />
    <add key="graphingFrameNumber" value="100" />
    <add key="numberOfGraphPoints" value="1000" />
    <add key="singlePattern" value="true" />
    <add key="beginMainPattern" value="1600" />
    <add key="brsName" value="Testing" />
  </appSettings>
</configuration>
