<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="camera" value="none" />
    <add key="cameraBitDepth" value="12" />
    <add key="cameraExposureTime" value="1000" />
    <add key="ipAddress" value="" />
    <add key="twinCat" value="false" />
    <add key="graphingFrameNumber" value="100" />
  </appSettings>
</configuration>
